* {
    margin: ;
    padding:
        box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    margin: 50px;
}

header {
    color: rgb(220, 35, 192);
    text-align: center;
    margin: 0px 0 100px 0;
    /* come si scrivono i valori nell'ordine giusto sup, dx, inf, sx */
    font-size: 30px;

}

h2 {
    text-align: center;
margin-bottom: 100px;
}

.container {
    margin: 0;
}

.name {
    display: inline-block;
    color: white;
    vertical-align: middle;
    padding-left: 20px;

}

img {
    vertical-align: middle;

}

.columns .col {
    float: left;
    width: calc(100% / 3 -60px);
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: black;
    padding-right: 20px;

}

/* Debug */
.debug .col {
    background-color: blueviolet;
}

/* clearfix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;

}

a {
    color: rgb(43, 174, 226);
}